<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Login.css') }}">
  <title>Login</title>
</head>
<body>
  <header>
    <a href="/Cadastro">Cadastre-se</a>
  </header>

  
  <h1>{% block title %}Log In{% endblock %}</h1>

  <form method="post">
    <label for="username">Usuario:</label>
    <input name="username" id="username" required><br>
    <label for="password">Senha:</label>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Log In">
  </form>

  {% if erro %}
  <p class="erro">{{ erro }}</p>
  {% endif %}

</body>
</html>



